<div>
    <div>
        <h1>Creación de personas</h1>
    </div>
    <div>
        <div>
            <p><strong>Numero de identificacion</strong></p>
            <input type="text" value={{numeroId}}>
        </div>
        <div>
            <p><strong>Nombre</strong></p>
            <input type="text" value={{nombre}}>
        </div>
        <div>
            <p><strong>Apellido</strong></p>
            <input type="text" value={{apellido}}>
        </div>
        <div>
            <p><strong>Tipo de identificacion</strong></p>
            <select name="select">
                <option value="value1">{{tipoId[0]}}</option> 
                <option value="value2" >{{tipoId[1]}}</option>
                <option value="value3">{{tipoId[2]}}</option>
              </select>
        </div>


    </div>
</div>